@{
    ViewData["Title"] = "Quadrants";
}
@model List<ApplicationResponse>
<!-- Display tasks-->
<div class="container">

    <h1> Stephen Covey's Time Management Matrix </h1>
    <br />
    <div class="row">
        <br />

        <div class="col-4">
            <h5> Quadrant I: Important / Urgent </h5>
            <br />
        </div>

        <div class="col-8">
            <h5> Quadrant II: Important / Not Urgent </h5>
            <br />
        </div>

        <br />
        <br />
        <br />

        <div class="col-4">
            <h5> Quadrant III: Not Important / Urgent </h5>
        </div>

        <div class="col-8">
            <h5> Quadrant IV: Not Important / Not Urgent </h5> 
        </div>

    </div>
</div>


<table class="table table-bordered table-striped">


<tbody>
    @foreach (var x in Model)
    {
        <tr>
            @*<td>@x.Category.CategoryName</td>*@
            <td>@x.Task</td>
            <td>@x.DueDate</td>
            <td>@x.Quadrant</td>
            <td>@x.Completed</td>



            <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.TaskID">Delete</a></td>

        </tr>

    }
</tbody>

</table>