@{
    ViewData["Title"] = "Quadrants";
}
@model QuadrantsProject.Models.ApplicationResponse
<!-- Display tasks-->
<div>
    <h1> Stephen Covey's Time Management Matrix </h1>
    <br />
    <p> Quadrant I: Important / Urgent </p>
    <br />
    <p> Quadrant II: Important / Not Urgent </p>
    <br />
    <p> Quadrant III: Not Important / Urgent </p>
    <br />
    <p> Quadrant IV: Not Important / Not Urgent </p>

</div>


<table class="table table-bordered table-striped">


    @*<tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Category.CategoryName</td>
                <td>@x.Task</td>
                <td>@x.DueDate</td>
                <td>@x.Quadrant</td>
                <td>@x.Completed</td>



                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@x.MovieID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.MovieID">Delete</a></td>

            </tr>

        }*@
    @*</tbody>*@

</table>